<div id="<%= dom_id journal_entry %>">
  <p>
    <strong>Body:</strong>
    <%= journal_entry.body %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= journal_entry.entry_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= journal_entry.user_id %>
  </p>

</div>
