<div class="mt-10 lg:mt-32">
  <section class="container mx-auto px-6 flex justify-between">
    <div>
      <h2 class="text-5xl lg:text-6xl text-gray-600">Adventure Log</h1>
    </div>
    <div>
      CTA copy
    </div>
  </section>

  <section class="container mx-auto mt-12 px-6">
    <h2 class="text-md lg:text-2xl text-gray-600">Set Goals</h2>
    <p>Keep Notes Set Goals</p>
  </section>

  <section class="container mx-auto mt-12 px-6">
    <h2 class="text-md lg:text-2xl text-gray-600">Keep Notes</h2>
    <p>explain Keep Notes</p>
  </section>
</div>
