<h1 class="hdg hdg_1">Adventure Log</h1>

<section>
  <h2 class="hdg hdg_2">Keep Notes</h2>
  <p>explain Keep Notes</p>
</section>

<section>
  <h2 class="hdg hdg_2">Set Goals</h2>
  <p>Keep Notes Set Goals</p>
</section>

<section>
  <h2 class="hdg hdg_2">Reflect On Day's Events</h2>
  <p>explain</p>
</section>
