<header class="header">
  <% if user_signed_in? %>
    <ul class="header-nav">
      <li class="header-nav-item">
        <%= link_to 'Entires', journal_entries_path, class: "link" %>
      </li>
    </ul>

    <ul class="header-nav-user">
      <li class="header-nav-item">
        <%= link_to 'Profile', edit_user_registration_path, class: "link" %>
      </li>
      <li class="header-nav-item">
        <%= link_to 'Logout', destroy_user_session_path, class: "link" %>
      </li>
    </ul>
  <% else %>
    <ul class="header-nav-user">
      <li class="header-nav-item">
        <%= link_to 'Login', new_user_session_path, class: "link" %>
      </li>
    </ul>
  <% end %>
</header>
